html, body {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #dddddd;
}

/* HEADER */
#header {
    background-color: #175D7D;
    color: white;
}

#categories_list {
    margin-top: 3px;
    border: 0;
}

#categories_list li {
    cursor: pointer;
}

#title>p {
    font-size: 20pt;
    font-weight: bolder;
}

/* CONTENT */
#content {
    margin-top: 20px ;
}
#categories_list a {
    color: white;
}

#categories_list a:hover {
    color: #175D7D;
}

td#preview {
    background-color: #175D7D;
    color: white;
}

/* TOOLS */
.info_text {
    text-align: left;
    background-color: white;
    color: #175D7D;
    padding: 10px;
    border-radius: 5px;
}

.info_text a {
    font-style: italic;
}

#tools, #server_data {
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: #175D7D;
    color: white;

}

#tools {
    padding: 20px;
}

#map_tool_container {
    display: none;
}

#map_tool_info {
    display: none;
}

#code {
    height: 200px;
    background-color: #175D7D;
    color: white;
}

#code_output {
    width: 100% !important;
    height: 100% !important;
}

.btn-default {
    color: #175D7D !important;
}
#server_data {
    padding: 20px;
}

/* FOOTER */

#footer {
    background-color: #175D7D;
    color: white;
}