/* DEVELOPMENT */

/* darkblue #175D7D */
/* lighterblue #3398c4 */

#header, #footer, #tools, #preview, #code, #server_data {
    background-color: #175D7D;
    color: white;
}

/* INITIAL SETTINGS */
html, body {
    font-family: Montserrat,sans-serif;
}

/* HEADER */
#header {
    margin-bottom: 10px;
    min-height: 100px;
}

#title {
    min-height: 100px !important;
    font-size: 22pt;
    font-weight: bold;
}

#title_md {
    font-size: 20pt !important;
}

nav {
    margin-top: 20px;
}

#categories_list>li>a {
    color: white;
    cursor: pointer;
}

#categories_list>li>a:hover {
    color: #175D7D;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

#menu {
    margin-top: 10px;
    color: #175D7D;
    background-color: white;
    border-radius: 3px;
    border: 0;
    width: 25px;
    height: 25px;
}

#admin_tools {
    background-color: white;
    min-width: 142px;
}

#admin_tools>li>a {
    text-decoration: none;
    cursor: pointer;
    color: #175D7D;
}
#admin_tools>li>a:hover {
    font-size: 10pt;
    font-weight: bolder;
    font-style: italic;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}




/* CONTENT */

.heading {
    background-color: #175D7D;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 16pt;
}
#content {
    padding: 0 !important;

}

#tools_container {
    background-color: #EEEEEE;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 10px 5px 15px;
    text-align: left;
    color: #175D7D;
    overflow: auto;
    text-wrap: normal;
}
#tools_container hr {
    border: 1px solid #175D7D;
}

#tools_container>a {
    font-style: oblique;
    text-decoration: underline;
}
/*
#tools, #output, #server_data {
    height: 100% !important;
}
*/
#output ,#tools, #server_data {
    margin-bottom: 10px;
}

.tools_list {
    display: none;
}

.tools_list>li {
    margin: 5px;
    border-radius: 5px;
    background-color: #175D7D;
    color: #EEEEEE;
    text-align: center;
    cursor: pointer;
}

.tools_list>li:hover {
    background-color: #3398c4;
    color: #EEEEEE;
}


#code {
    padding: 15px ;

}

#preview {
    background-color: #DDDDDD;
}


#code_container {
    font-size: 10pt;
    font-weight: bolder;
    text-align: left;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #d43f3a;
    padding: 10px;
    display: none;
    word-wrap: break-word;
}

#code_container>p {
    padding: 15px;
}


#server_data {
    padding-bottom: 10px;
}

#service_list>li {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #EEEEEE;
    color: #175D7D;
    border: 0;
}

#service_list>li:hover {
    background-color: #3398c4;
    color: white;
}

.under_service {
    font-size: 10pt;
}

/* FOOTER */
#footer {
    min-height: 34px;
}

#footer p {
    font-style: italic;
}

#footer_xs {
    font-size: 8pt;
}

#footer_sm {
    font-size: 9pt;
}

#footer_md {
    font-size: 10pt;
}

#footer_lg {
    font-size: 12pt;
}

.jscolor {
    z-index: -1 !important;
}